# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientists
* List  commonly used libraries used by Data Scientists
* List Tools used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-Learn
3. Numpy

Data Science Tools

|Tools|
|:-|
|Anaconda|
|Jupyter Notebook|
|IBM Watson Studio|

In [5]:
# Below are a few examples of evaluating arithmetic expressions in Python.

d = 5*5
print(d)

#Result = 25

25

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print(hours)

3.3333333333333335

m